--index-url https://download.pytorch.org/whl/cu129
torch==2.8.0
torchvision
torchaudio

tensorflow[and-cuda]
jupyter
matplotlib
pandas
seaborn
numpy
transformers
datasets
peft
trl
accelerate
bitsandbytes
scikit-learn
xgboost
lightgbm
catboost
scipy
statsmodels
opencv-python