--extra-index-url https://download.pytorch.org/whl/cu129
torch
torchvision
torchaudio

jupyter
matplotlib
pandas
seaborn
numpy
transformers
datasets
peft
trl
accelerate
bitsandbytes
scikit-learn
xgboost
lightgbm
catboost
scipy
statsmodels
opencv-python